<div id="search-container">
  <div id="row">
    <h1>Search SeeClickFix: <br><small>see what’s being reported in your neighborhood</small></h1>
  </div>

  <div id="row">
    <div class="form-group" id="search-box">
        <%= form_tag searches_path, { :method => :get, :class => "form-inline" }  do %> 
          <%= label_tag :address, "Address:" %>
          <%= text_field_tag :address, "", :class => "form-control input-lg", :autofocus => true %><br>

          <%= label_tag :city, "City:" %>
          <%= text_field_tag :city, "", :class => "form-control input-lg", :autofocus => true %><br>

          <%= label_tag :state, "State:" %>
          <%= text_field_tag :state, "", :class => "form-control input-lg", :autofocus => true %><br><br>
          
          <%= submit_tag "Search", :class => "btn btn-lg btn-primary", :id => "search-button" %>
        <% end %>
    </div>
  </div>
</div>